* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  margin-bottom: 30px;
}

.App {
  height: 100vh;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.books {
  display: flex;
  gap: 10px;
}

.book {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  background-color: rgb(203, 238, 227);
}

.delete {
  border: none;
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;
  border: 1px solid;
  color: rgb(242, 100, 100);
}

.update {
  border: none;
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;
  border: 1px solid;
  color: rgb(139242, 139, 234);
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  width: 250px;
  padding: 10px;
  border: 1px solid gray;
}

.formButton {
  border: none;
  padding: 10px;
  background-color: rgb(244, 142, 74);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.addBook {
  background-color: #4f46e5; /* azul moderno */
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #4338ca;
  transform: translateY(-2px);
}

p {
  text-align: justify;
  margin: 25px;
}
